<% include partials/header %>

<div class = "container">
    <div class = "container"  style = "margin-top:78px;" >
        <div class = "ui main text container segment">
            <div class = "ui huge header" >New Blog</div>
                <form class = "ui form" action = "/blogs" method = "POST" >
                     <div class = "field" >
                         <label>Title</label>
                         <input type = "text"  style = "height:40px; width:100%;" name = "newblog" placeholder = "add title to blog" required>
                     </div>
                     <div class = "field" >
                         <label>Image</label>
                         <input type = "text"  style = "height:40px; width:100%;" name = "image" placeholder = "enter the url" required>
                     </div>
                     <div class = "field">
                         <label>Blogs Description</label>
                         <textarea  rows = "5" cols = "30" name = "description" placeholder = "blogs description" required></textarea>
                     </div>
                     <a class = "ui red basic button"  href = "/blogs" >Go Back!</a>
                     <div class = "field" style = "display:inline;" >
                         <button class = "ui violet basic button" >submit</button>
                     </div>
                </form>
            </div>   
        </div>
    </div>
</div>

<% include partials/footer %>